<h3>Please enter required info to make an appointment</h3>
<table width="60%">
<tr><td>
<form class="form-horizontal" action="/appoint" method="POST">
  <div class="form-group">
    <label for="exampleInputName2">Enter your name</label>
    <input type="text" class="form-control" id="exampleInputName2" placeholder="Your Name" name="username" size="30">
  </div>
  <div class="form-group">
    <label for="exampleInputName2">Enter your phone</label>
    <input type="text" class="form-control" id="exampleInputName2" placeholder="8-123-456" name="phone" size="30">
  </div>
   <div class="form-group">
    <label for="exampleInputName2">Enter desidred date and time</label>
    <input type="text" class="form-control" id="exampleInputName2" placeholder="Date and time" name="datetime" size="30">
  </div>
  <button type="submit" class="btn btn-primary">Send appointment</button>
</form>
</td></tr></table>