<table width="60%" align="left">
<tr><td>
<form class="form-horizontal" action="/appoint" method="POST">
  <div class="form-group">
    <label for="exampleInputName2">Enter your name</label>
    <input type="text" class="form-control" id="exampleInputName2" placeholder="Your Name" name="username">
  </div>
  <div class="form-group">
    <label for="exampleInputName2">Enter your phone</label>
    <input type="text" class="form-control" id="exampleInputName2" placeholder="8-123-456" name="phone">
  </div>
   <div class="form-group">
    <label for="exampleInputName2">Enter desidred date and time</label>
    <input type="text" class="form-control" id="exampleInputName2" placeholder="Date and time" name="datetime">
  </div>
  <button type="submit" class="btn btn-default">Send appointment</button>
</form>
</td></tr></table>