			<%if session[:identity] then %>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>#</th>
						<th>Name</th>
						<th>Phone</th>
						<th>Date and time</th>
						<th>Barber</th>
						<th>Color</th>
					</tr>
				</thead>
				<tbody>
					
					<tr>
						<td>1</td>
						<td>A</td>
						<td>33</td>
						<td>34</td>
						<td>35</td>
						<th><%=@sample%></th>
					</tr>
		
				</tbody>
			</table>
			<% end %>